/** @format */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__title {
  font-size: 22px;
  font-weight: 600;
}

.header .header__back-btn {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.header__column .header__icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-list .icon-list__icon {
  margin-left: 25px;
}

.icon-list .icon-list__icon i {
  font-size: 20px;
}
