/** @format */

.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #f8f8f8;
  padding: 25px 40px;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__list-item i {
  font-size: 22px;
}

.nav .nav__link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -6px;
  background-color: #e95e40;
  color: white;
  border-radius: 50%;
  font-size: 8px;
  width: 15px;
  height: 15px;
}
