/** @format */

.nav-bar {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #fcfcfc;
  padding: 15px 0px;
}

.nav-bar .nav-bar__page-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-list .page-list__page-btn i {
  font-size: 20px;
}

.page-list__page-btn a {
  position: relative;
}

.chats-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  background-color: #e65e3e;
}
