/** @format */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import 'reset.css';
@import 'status-bar.css';
@import 'header.css';
@import 'nav-bar.css';
@import 'friend.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #030303;
  padding: 0px 15px;
}

a {
  color: #030303;
  text-decoration: none;
}
